<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SignUP</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp"></script>
</head>
{% load static %}
<body class="flex items-center justify-center h-screen bg-blue-200">
    <div class="bg-white/80 p-8 rounded shadow-md w-80">
        <h2 class="mb-6 text-3xl font-bold text-center">Signup</h2>
        <form method="post">
            {% csrf_token %}
            <div class="mb-4">
                <label class="block text-gray-700" for="username">Username:</label>
                <input class="w-full px-3 py-2 border rounded mt-1" type="text" id="username" name="username" required>
            </div>
            <div class="mb-6">
                <label class="block text-gray-700" for="password">Password:</label>
                <input class="w-full px-3 py-2 border rounded mt-1" type="password" id="password" name="password" required>
            </div>
            <input class="w-full px-3 py-2 bg-blue-500 text-white rounded cursor-pointer hover:bg-blue-600" type="submit" value="Login">
        </form>
        <p class="mt-4 text-center">Don't have an account? <a class="text-blue-500 hover:underline" href="/signup">Sign up</a></p>
    </div>
</body>
</html>